@import '../../assets/styles/helpers/variables'
@import '../../assets/styles/helpers/mixin'

.bg-slider
	position: relative
	grid-column: 1 / span 3
	grid-row: 1 / span 4

	&__bg
		+sizeblock(100%)
		background-color: #000

		&-pic
			+sizeblock(100%)
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover

	&__nav

	&__btn
		position: absolute
		+hcenter
		+sizeblock(40px)
		border: none
		background-color: $trp
		cursor: pointer



		&--prev
			left: 30px

			&:hover

				img
					transform: translate(-5px, 0)

		&--next
			right: 30px

			&:hover

				img
						transform: translate(5px, 0)

		img
			transition: transform 0.3s ease-in-out
