@font-face {
	font-family: 'Arial-MT';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url('~@/assets/fonts/Arial-MT.woff2') format('woff2'),
		url('~@/assets/fonts/Arial-MT.woff') format('woff');
}

@font-face {
	font-family: 'owfont';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url('~@/assets/fonts/owfont-regular.woff2') format('woff2'),
		url('~@/assets/fonts/owfont-regular.woff') format('woff');
}
