@import '../../assets/styles/helpers/variables'
@import '../../assets/styles/helpers/mixin'

.blockquote
	position: relative
	grid-column: 2 / span 1
	grid-row: 4 / span 1
	align-self: end
	padding-bottom: 30px

	&__action
		display: flex
		justify-content: center

	&__reload
		+sizeblock(30px)
		margin-bottom: 20px
		background-color: $trp
		border: none
		cursor: pointer
		transition: transform 0.4s ease

		&:hover
			transform: scale(1.1)

	&__content
		text-align: center
		color: #fff

	&__title
		margin-bottom: 15px
		font-size: 24px
		font-style: italic

	&__name
		font-size: 18px
